#keys {
    display: flex;
    flex-direction: row;
    width: 20vw;
    align-items: baseline;
}

@media screen and (orientation: portrait) {
    #keys {
        width: 40vw;
    }
}

.key {
    width: 30px;
    display: flex;
    flex-direction: column;
}

.bar {
    height: 30px;
    border: 1px solid #000;
    background-color: #000;
}

.key-name {
    height: 10px;
}